.form-group
  label(for="g-htmdec-data") HTMDEC Data
    select#g-htmdec-data.form-control.input-sm
      option(value="default", selected=true) Not HTMDEC
      option(value="sem") SEM Data
      option(value="pdv") PDV Data
      option(value="syncFolder") Sync Folder
