.g-sem-container
  .g-item-info-header
    i.icon-picture
    | Image Preview
.g-sem-panes.clearfix
  .g-sem-left
    .g-sem-image
      div
        img()
    .g-sem-filename
  .g-sem-right
    .g-sem-tags
