.g-sem-view
  margin-bottom 15px

  .g-sem-left
    width 768px
    float left

  .g-sem-right
    margin-left 769px
    height 768px
    overflow scroll
    border 1px solid #ccc
    border-radius 4px 

  .g-sem-filename
    text-align center
    margin 5px 0
    white-space nowrap
    overflow hidden
